.movies-list {
    width: 100%;
    border-top: 1px #E8E8E8 solid;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    row-gap: 30px;
    column-gap: 24px;
    padding-top: 70px;
    padding-bottom: 30px;
}

.another-button__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 80px;
}

.another-button {
    width: 320px;
    height: 36px;
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #E8E8E8;
}

.another-button:hover {
    cursor: pointer;
    transition-duration: .3s;
    opacity: 0.6;
}


@media screen and (max-width:1135px) {
    .movies-list {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
        row-gap: 36px;
        column-gap: 30px;
    }
}

@media screen and (max-width:670px) {
    .movies-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

@media screen and (max-width:400px) {
    .another-button {
        width: 240px;
        height: 36px;
    }
}

@media screen and (max-width:340px) {
    .movies-list {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: auto;
        align-self: center;
        row-gap: 16px;
    }
}