.profile {
    width: 100%;
    margin: 0 auto;
}

.profile__container{
    width: 410px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 74px;
    padding-bottom: 70px;
}

.profile__name {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin: 0 0 123px;
}

.profile__links {
    width: 410px;
    height: 48px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.profile__link {
    border: none;
    padding: 0;
    margin: 0;
    background-color: white;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: black;
    text-decoration: none;
}

.profile__button {
    border: none;
    background-color: white;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #FF4062;
}

.profile__button:hover {
    cursor: pointer;
    transition-duration: .3s;
    opacity: 0.6;
}

.profile__link_invalid {
    color: grey;
}


.profile__link:hover {
    cursor: pointer;
    transition-duration: .3s;
    opacity: 0.6;
}

.profile__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-size: 11px;
    line-height: 13px;
    font-weight: 500
}

.profile__input {
    height: 32px;
    width: 90%;
    color: black;
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
    background-color: transparent;
    padding: 0;
    border: 0;
    outline: none;
    text-align: right;
}

.profile__line {
    width: 100%;
    border-bottom: 1px solid #E8E8E8;
    margin: 16px auto 17px;
}

@media screen and (max-width:768px) {
    .profile {
        padding-top: 236px;
        padding-bottom: 40px;
    }

    .profile__form {
        margin: 96px auto 210px;
    }
}

@media screen and (max-width:430px) {
    .profile {
        padding-top: 70px;
        padding-bottom: 269px;
    }

    .profile__buttons {
        width: 300px;
        height: 46px;
    }

    .profile__button {
        font-size: 12px;
        line-height: 15px;
    }

    .profile__form {
        width: 260px;
        height: 62px;
        margin: 80px auto 379px;
    }

    .profile__label {
        width: 130px;
    }
    
    .profile__input {
        border: none;
        width: 120px;
        font-size: 11px;
        line-height: 13px;
        text-align: right;
    }
}
